{% extends "style.html.twig" %}

{% block title %}AppBundle:Main:index{% endblock %}

{% block body %}
    <div class="mainDiv">
        <h1>Добро пожаловать на страницу Ресторанов</h1>
        <p>Выберите ресторан, блюда которого хотите посмотреть</p>
        {% for popularDish in popularDishes %}

            <div class="institution">
                <h2><a href="{{ path('app_main_view', {'id': popularDish.institution.id}) }}">{{ popularDish.institution.title }}</a></h2>
                <img src="cafe/{{ popularDish.institution.image }}" alt="Картинка ресторана">
                {% for dish in popularDish.dishes %}
                    <div class="popularDish">
                        <img src="images/{{ dish.dish.image }}" alt="image">
                        <span>{{ dish.dish.title }}({{ dish.qty }} покупок за последний год)</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
