{% extends "style.html.twig" %}

{% block title %}AppBundle:Main:view{% endblock %}

{% block body %}
    <div class="mainDiv">
        <a href="{{ path('app_main_index') }}">На главную</a>
    </div>
    <div class="mainDiv">

        <h1>Страница ресторана {{ institution.title }}</h1>

        {% for dish in institution.dishes %}
            <div class="dish">
                <img src="{{ asset('images/' ~ dish.image) }}" alt="">
                <p><b>{{ dish.title }}</b></p>
                <p>Цена: {{ dish.price }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
