{% extends "base.html.twig" %}

{% block title %}AppBundle:Pages:header{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background: lightblue;
        }
        header{
            position:sticky;
            top:0;
            z-index: 10;
        }
        .mainDiv{
            border: 3px solid silver;
            border-radius: 1%;
            background: white;
            max-width: 850px;
            text-align: center;
            padding: 20px 10px 20px;
            margin: 20px auto 0;
            word-wrap: break-word;
        }
        .mainDiv a{
            text-decoration: none;
        }
        .institution{
            border: 2px solid gold;
            text-align: center;
            padding: 10px 5px 10px;
            width: 48%;
            display:inline-block;
            border-radius:4%;
        }
        .institution img{
            width: 400px;
            height: 200px;
            margin: 5px;
        }
        .dish{
            text-align: center;
            padding: 10px 5px 10px;
            /*width: 100%;*/
            border: 2px solid aquamarine;
        }
        .dish img{
            width: 400px;
            height: 200px;
            margin: 5px;
        }
        .popularDish{
            /*width: 80%;*/
            height: 70px;
            display: flex;
            align-items: center;
        }
        .popularDish img{
            display:inline-block;
            align-items: center;
            width: 10%;
            height: 60%;
            /*margin: 5px;*/
        }
    </style>
{% endblock %}
{% block body %}
{% endblock %}
